@import '../../../assets/theme//mixins.scss';

.filters {
    min-width: 250px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    display: none;

    @media screen and (min-width:992px) {
        display: flex;
    }

    &__heading {
        font-size: 16px;
        font-weight: 700;
        height: 60px;
        text-transform: uppercase;
        margin: 0;
        padding: 20px
    }

    &__categories {
        flex-grow: 1;
        border-right: 1px solid gainsboro;
        border-top: 1px solid gainsboro;
        padding-top: 25px;
        overflow: auto;

        @include custom-scrollbar;

        &>*:not(:last-child) {
            border-bottom: 1px solid gainsboro;
            padding-bottom: 25px;
            margin-bottom: 30px;
        }

        &>* {
            padding-left: 20px
        }
    }
}